/* body {
  color: #f7bf48;
  font-size: 20px;
}
@keyframes customBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px;
  }
} */
header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  text-align: center;
}
header .navigation {
  display: flex;
  justify-content: center;
}
header .navigation .navigation__item {
  height: 20px;
  width: 30%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 2px solid #f7bf48;
  border-radius: 10px;
  background-color: white;
}
header .navigation .navigation__item:hover {
  box-shadow: 0 5px 15px rgba(220, 62, 42, 0.7);
  transform: translateY(-2px);
  background-color: #f7bf48;
  color: white;
}
header .logo img {
  height: 200px;
  width: 200px;
}
header .nav {
  cursor: pointer;
}
header .nav img {
  height: 150px;
}
header .nav img:hover {
  height: 170px;
}
header .nav .nav__item {
  position: relative;
}
header .nav .nav__title {
  margin: -35px;
  margin-right: -50px;
}
header .nav .nav__badge {
  position: absolute;
  top: 5px;
  right: 15px;
  min-width: 50px;
  height: 20px;
  padding: 15px 3px;
  text-align: center;
  background: #f7bf48;
  border-radius: 40px;
  font-size: 30px;
  line-height: 20px;
  color: white;
}
.goods {
  display: grid;
  margin-top: 25px;
  margin-left: 60px ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.goods .goods__item {
  text-align: center;
  width: 260px;
  padding: 10px;
  border-radius: 10px;
  margin: 0 40px 40px 20px;
  transition: 0.3s all;
  background-color: white;
  border: 2px solid #f7bf48;
}
.goods .goods__item:hover {
  border: 5px solid #f7bf48;
  box-shadow: 0 0 15px rgba(220, 62, 42, 0.7);
}
.goods .goods__img {
  width: 220px;
  height: 300px;
}
.goods .goods__img:hover {
  width: 230px;
  height: 320px;
}
.goods .goods__colors {
  font-size: 25px;
  text-align: center;
  margin-top: 5px;
  color: #850924;
}
.goods .goods__title {
  height: 150px;
  color: #0e2a86;
  margin-top: 5px;
}
.goods .goods__price {
  height: 30px;
  text-align: center;
  color: #f7bf48;
  margin-top: 5px;
  font-weight: bold;
}
.goods .goods__price:hover {
  color: red;
  font-weight: bold;
  font-size: 25px;
}
.goods .goods__btn {
  width: 100%;
  height: 40px;
  background-color: #f7bf48;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.goods .goods__btn:hover {
  box-shadow: 0 0 15px rgba(109, 25, 14, 0.7);
  background-color: white;
  border: 2px solid #f7bf48;
  color: #f7bf48;
}
.cart .cart__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 25px 0 25px 0;
  width: 1400px;
  text-align: center;
  height: 100%;
  background-color: #fff;
  border: 10px solid #f7bf48;
  min-height: 250px;
}
.cart .cart__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 25px 0 25px 0;
  width: 1400px;
  text-align: center;
  height: 100%;
  background-color: #fff;
  border: 10px solid #f7bf48;
  min-height: 250px;
}
.cart .empty {
  display: grid;
  font-size: 40px;
  color: black;
  margin-top: 100px;
  margin-left: 650px;
}
.cart .empty:hover {
  color: darkblue;
}
.cart .cart__items .cart__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 150px 1fr 40px;
  grid-template-areas: "img price" "btn title";
  text-align: center;
  grid-gap: 10px;
  border: 5px solid #f7bf48;
  margin: 10px;
  padding: 10px;
  min-height: 250px;
}
.cart .cart__items .cart__item .goods__img {
  height: 200px;
  grid-area: img;
}
.cart .cart__items .cart__item .goods__img .img {
  width: 170px;
  height: 240px;
  border: 4px solid #f7bf48;
  border-radius: 35px;
}
.cart .cart__items .cart__item .goods__colors {
  display: none;
}
.cart .cart__items .cart__item .goods__title {
  color: #0e2a86;
  margin-top: 5px;
  font-size: 20px;
  grid-area: title;
}
.cart .cart__items .cart__item .goods__price {
  text-align: center;
  color: black;
  margin-top: 5px;
  font-weight: bold;
  grid-area: price;
}
.cart .cart__items .cart__item .goods__price:hover {
  font-size: 20px;
}
.cart .cart__items .cart__item .goods__btn {
  display: none;
}
.cart .cart__items .trigger {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  background-color: white;
  border: 5px solid #f7bf48;
  color: #f7bf48;
  font-weight: bold;
  padding: 0;
  border-radius: 10px;
  grid-area: btn;
}
.cart .cart__items .trigger:hover {
  box-shadow: 0 0 15px rgba(220, 62, 42, 0.7);
  background-color: red;
  border: none;
  color: white;
}
.cart .hidden {
  display: none;
}
.cart .cart__delete {
  width: 280px;
  height: 40px;
  margin: 0 auto;
  background-color: white;
  border: 5px solid #f7bf48;
  margin-top: 10px;
  color: #f7bf48;
  font-weight: bold;
  padding: 0;
  border-radius: 10px;
}
.cart .cart__delete:hover {
  box-shadow: 0 0 15px rgba(220, 62, 42, 0.7);
  background-color: red;
  color: white;
  border: 5px solid red;
}
.cart .cart__confirm {
  width: 280px;
  height: 40px;
  margin: 0 auto;
  background-color: white;
  border: 5px solid #f7bf48;
  margin-top: 10px;
  color: #f7bf48;
  font-weight: bold;
  padding: 0;
  border-radius: 10px;
}
.cart .cart__confirm:hover {
  box-shadow: 0 0 15px rgba(220, 62, 42, 0.7);
  background-color: #f7bf48;
  color: white;
  border: none;
}
.cart .cart__btns {
  display: grid;
  text-align: center;
}
.cart .cart__btns #span {
  font-size: 40px;
  color: black;
  width: 100%;
}
.confirm__form {
  display: grid;
  margin-left: 420px;
  width: 500px;
  text-align: center;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  border: 10px solid #f7bf48;
  min-height: 250px;
}
.confirm__form input {
  font-size: 25px;
  margin: 10px;
  border: 2px solid #f7bf48;
}
.confirm__form #submit {
  background-color: #f7bf48;
  color: white;
  border-radius: 15px;
}
.confirm__form #submit:hover {
  background-color: white;
  color: #f7bf48;
  border: 2px solid #f7bf48;
  font-weight: bold ;
}
.newss {
  display: flex;
  flex-direction: column;
  margin-left: 266px;
  border: 5px solid #f7bf48;
  background-color: #f7bf48;
}
.newss .news__item {
  margin: 5px;
  text-align: center;
  background-color: ghostwhite;
}
.newss .news__item .title {
  margin-top: 30px;
  font-size: 50px;
}
.newss .news__item img {
  border: 2px solid #f7bf48;
}
.newss .news__item h6 {
  font-size: 25px;
}
.aboutt {
  display: grid;
}
.aboutt span {
  font-size: 60px;
  color: black;
}
.aboutt .title {
  margin-top: 20px;
  font-size: 30px;
}
.aboutt .list {
  color: red;
}
.aboutt .contacts {
  font-size: 100px;
}
.aboutt .contacts .text {
  font-size: 40px;
}
.back {
  width: 900px;
  margin-top: 200px;
}
